* {
	padding: 0;
	margin: 0px;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/

	/* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
	display: flex;
	/* same with this*/
	flex-direction: column;
	background-color: #232529;
	color: #e2e3e7;
	font-family: sans-serif;
	flex-shrink: 0;
}

.content {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-row: auto;
	padding-top: 20px;
	justify-items: center;
	gap: 10px;
	flex: 1 0 auto;
}

.main-content {
	grid-area: 1/2/1/2;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 30px;
}

.weather-content {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.card {
	background-color: #4f4f4f;
	/* need to be a cal of width of parent container and padding and gap */
	display: grid;
	grid-template-rows: 1fr 1fr .8fr 1fr;
	height: 250px;
	border-radius: 10px;
	padding: 10px;
}
.day {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
}

.temp-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px;
}

.current-temp {
	font-size: 50px;
	font-weight: bold;
}

.high-low-container {
	font-size: 20px;
}

.high {
	border-bottom: white solid 1px;
}

.wind-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px;
}
.windspeed {
}

.conditions-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 5px;
}

.uv-placeholder{
	font-size: 20px;
}
.uv{
	font-size: 20px;
	color: rgb(255, 217, 0);
}

.search-bar {
	display: flex;
}

.search-bar button {
	width: 50px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #4f4f4f;
	cursor: pointer;
}

.search-bar button:active {
	background-color: #373737;
}

.search-bar input {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding-left: 10px;
	background-color: #494a4d;
	width: 570px;
}
.search-bar input:focus {
	border: none;
	outline: none;
}
.search-bar button,
.search-bar input {
	border: none;
	height: 35px;
	font-size: large;
	color: #e2e3e7;
}
